{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome on your project 3</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci consectetur quisquam nihil illo porro molestiae quos provident. Neque, quibusdam cumque. Quod quae ullam adipisci maxime omnis sit dolorem cumque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci consectetur quisquam nihil illo porro molestiae quos provident. Neque, quibusdam cumque. Quod quae ullam adipisci maxime omnis sit dolorem cumque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci consectetur quisquam nihil illo porro molestiae quos provident. Neque, quibusdam cumque. Quod quae ullam adipisci maxime omnis sit dolorem cumque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci consectetur quisquam nihil illo porro molestiae quos provident. Neque, quibusdam cumque. Quod quae ullam adipisci maxime omnis sit dolorem cumque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci consectetur quisquam nihil illo porro molestiae quos provident. Neque, quibusdam cumque. Quod quae ullam adipisci maxime omnis sit dolorem cumque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci consectetur quisquam nihil illo porro molestiae quos provident. Neque, quibusdam cumque. Quod quae ullam adipisci maxime omnis sit dolorem cumque.</p>

{% endblock %}
