{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block title %}AMON - Mentions Légales{% endblock %}

{% block body %}
<section id="legalNotice">
    <h1 class="legalNoticeTitle">Mentions Légales</h1>

    <p class="legalNoticeSubText">La poursuite de la navigation sur ce site (ci-après « le Site ») vaut acceptation sans réserve des dispositions 
        et conditions générales d'utilisation qui suivent.<br>
        Seule la version actuellement en ligne des conditions générales d'utilisation est opposable pendant toute la durée 
        d'utilisation du Site et jusqu'à ce qu'une nouvelle version la remplace.</p>
    
    <h2>Informations Légales</h2>
    <h3>Editeur du site (ci-après "l'Editeur" ou "Amon")</h3>
    <p>AMON PASSAGE SECRET - DESIGN METALLIQUE<br>
        Renaud Jorget, Directeur<br>
        104 Rue Blanqui, 37000 Tours<br>
        Tél : 06 69 54 79 22<br>
        Mail : renaud@jorget.fr</p>

    <h3>Conception du site</h3>
        WILD CODE SCHOOL<br>
        49 Boulevard Preuilly, 37000 Tours<br>


    <h2>Accès au site</h2>
    <p>L'accès au Site et son utilisation sont réservés à un usage strictement personnel. Vous vous engagez à ne pas utiliser ce Site 
        et les informations ou données qui y figurent à des fins commerciales, politiques, publicitaires et pour toute forme de sollicitation 
        commerciale et notamment l'envoi de courriers électroniques non sollicités.</p>
    
    <h2>Contenu du site</h2>
    Toutes les marques, photographies, textes, commentaires, illustrations, images animées ou non, séquences vidéo, sons, ainsi que toutes les 
    applications informatiques qui pourraient être utilisées pour faire fonctionner ce Site et plus généralement tous les éléments reproduits ou 
    utilisés sur le Site sont protégés par les lois en vigueur au titre de la propriété intellectuelle.<br>
    Ils sont la propriété pleine et entière de l'Éditeur ou de ses partenaires. Toute reproduction, représentation, utilisation ou adaptation, 
    sous quelque forme que ce soit, de tout ou partie de ces éléments, y compris les applications informatiques, sans l'accord préalable et écrit 
    de l'Éditeur, sont strictement interdites.<br>
    Le fait pour l'Éditeur et/ou ses partenaires de ne pas engager de procédure dès la prise de connaissance de ces utilisations non autorisées 
    ne vaut pas acceptation desdites utilisations et renonciation aux poursuites.</p>

    <h2>Gestion du site</h2>
    <p>Pour la bonne gestion du Site, l'Éditeur pourra à tout moment : <br>
        <span class="tabulationList">- suspendre, interrompre ou limiter l'accès à tout ou partie du Site, réserver l'accès au Site, ou à certaines parties du Site, à une catégorie déterminée d'internautes ;</span><br>
        <span class="tabulationList">- supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales ou internationales, ou avec les règles de la Nétiquette ;</span><br>
        <span class="tabulationList">- suspendre le Site afin de procéder à des mises à jour.</span></p>

    <h2>Responsabilités</h2>
    <p>La responsabilité de l'Éditeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption de fonctionnement, empêchant l'accès au Site ou à une de ses fonctionnalités.<br>
        Le matériel de connexion au Site que vous utilisez est sous votre entière responsabilité. Vous devez prendre toutes les mesures appropriées pour protéger votre matériel et vos propres 
        données notamment d'attaques virales par Internet. Vous êtes par ailleurs le seul responsable des sites et données que vous consultez.<br>
        L'Éditeur ne pourra être tenu responsable en cas de poursuites judiciaires à votre encontre :<br>
        <span class="tabulationList">- du fait de l'usage du Site ou de tout site externe/service accessible via Internet ;</span><br>
        <span class="tabulationList">- du fait du non-respect par vous des présentes conditions générales ou d’une obligation légale ou règlementaire vous incombant spécifiquement.</span><br>
        En outre, l'Éditeur n'est pas responsable des dommages directs ou indirects causés à vous-même, à des tiers et/ou à votre équipement du fait de votre connexion ou de votre utilisation 
        du Site et vous renoncez à toute action contre lui de ce fait.<br>
        Le contenu du Site est présenté sans aucune garantie de quelque nature que ce soit. Il est à ce titre rappelé que les informations publiées sur ce Site :<br>
        <span class="tabulationList">- sont exclusivement de nature générale et ne visent pas la situation particulière d'une personne physique ou morale ;</span><br>
        <span class="tabulationList">- ne sont pas nécessairement, en dépit des meilleurs efforts de l'Éditeur, complètes, exhaustives ou mises à jour en temps réel ;</span><br>
        Si l'Éditeur venait à faire l'objet d'une procédure amiable ou judiciaire à raison de votre utilisation du Site, il pourra se retourner contre vous pour obtenir indemnisation de tous les 
        préjudices, sommes, condamnations et frais qui pourraient découler de cette procédure.</p>
    
    <h2>Liens hypertextes</h2>
    <p>La mise en place par vos soins de tous liens hypertextes vers tout ou partie du Site Amon-creation.fr est strictement interdite, sauf autorisation préalable et écrite de l'Éditeur, sollicitée par courrier à 
    l'adresse suivante : AMON PASSAGE SECRET - DESIGN METALLIQUE – 104 Rue Blanqui, 37000 Tours.<br>
    L'Éditeur est libre de refuser cette autorisation sans avoir à justifier de quelque manière que ce soit sa décision. Dans le cas où l'Éditeur accorderait son autorisation, celle-ci n'est dans 
    tous les cas que temporaire et pourra être retirée à tout moment, sans obligation de justification à la charge de l'Éditeur.<br>
    Dans tous les cas, tout lien devra être retiré sur simple demande de l'Éditeur.
    Toute information accessible via un lien vers d'autres sites n'est pas sous le contrôle de l'Éditeur qui décline toute responsabilité quant à leur contenu.</p>

    <h2>Propriété intellectuelle</h2>
    <p>En accord avec les lois nationales régissant le droit d’auteur et la propriété intellectuelle (ou autres droits similaires), l’exploitation, l’utilisation, la reproduction, la diffusion, la commercialisation, 
    l’extraction ou la modification de tout ou partie des éléments se trouvant dans le site Amon-creation.fr est strictement interdite. L'Editeur ne cède aucun droit de propriété intellectuelle sur les informations et plus 
    généralement sur le contenu du site Amon-creation.fr, quelle qu’en soit la forme.<br>
    Conformément aux règles de « Bon usage » ci-dessus mentionnées, la consultation des informations ne peut s’interpréter comme une cession, même partielle ou temporaire, des droits de reproduction, de représentation 
    et d’adaptation de tout ou partie des textes, présentations méthodologiques ou éléments visuels ou graphiques composant le site Amon-creation.fr.<br>
    Reproduction et diffusion sont interdites. En cas d’autorisation de reproduction et/ou de diffusion exceptionnellement consentie par l'Editeur à l’appui d’un accord préalable et écrit, la mention suivante doit 
    impérativement être mentionnée : COPYRIGHT © 2021-2022 Amon-creation.fr.</p>

    <h2>Droits à l'image</h2>
    <p>Toutes personnes, représentées sur les photos et films publiés sur le site Amon-creation.fr ont consenti à l’usage de leur image dans le cadre des prestations réalisées pour les clients de Amon Creation.
    A défaut d’un accord écrit préalablement consenti par les clients et/ou de Amon Passage secret - Design métallique, l’utilisation de l’image des personnes précitées est donc strictement interdite à quelque titre que ce soit.</p>

    <h2>Loi Applicable</h2>
    <p>Les présentes conditions d’utilisation du site Amon-creation.fr sont soumises, tant pour leur interprétation que pour leur exécution, au Droit français. En cas de litige, les tribunaux français seront seuls compétents.</p>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
