/* ---- Actuality Page ---- */

/* -- Articles -- */
.article-container{
    background-color: rgba(0, 0, 0, 0.322);
    margin: 3%;
    margin-top: 0;
    padding: 1%;
    padding-top: 2%;
    text-align: center;
    border: 2px solid;
    border-image: url("../images/silver-textured-background.jpeg") 2;
}
.article-content{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
}

.article-date{
    margin-left: 3%;
    padding-left: 1%;
    margin-right: 90%;
    border: 2px solid;
    border-image: url("../images/silver-textured-background.jpeg") 2;
}

.image-grid{
    display:flex;
    text-align: center;
    justify-content: start;
    flex-wrap: wrap;
}

.article-image{
    display: flex;
    align-items: center;
    width: 20%;
    height: auto;
    border: 2px solid;
    border-image: url("../images/silver-textured-background.jpeg") 2;
    background-color: rgba(0, 0, 0, 0.247);
    margin: 2%;
}
.actuality-img{
    width: 100%;
    margin: 0;
    height: auto;
}
.article-image:hover img{
    -webkit-transform: scale(1.6);
	transform: scale(1.6);
}