/* ---- Actuality Page ---- */

/* -- Articles -- */
#gallery-title {
    text-align: center;
    text-decoration: underline;
    width: 100%;
    font-size: 2.5vw;
}

.article-container{
    background-color: rgba(0, 0, 0, 0.39);
    margin: 0 3% 3% 3%;
    padding: 1%;
    text-align: center;
    border: 2px solid;
    border-image: url("../images/silver-textured-background.jpeg") 2;
}
.article-content{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 2%;
    align-items: center;
}
.article-title{
    margin-bottom: 5%;
}

.article-description{
    font-size: 1.3em;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
}
.article-date{
    justify-content: center;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/silver-textured-background.jpeg");
    margin-left: 3%;
    margin-right: 85%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.date{
    font-size: 1.2em;
    color: #000;
}
.image-grid{
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
}
.article-image{
    display: flex;
    align-items: center;
    width: 10vw;
    border: 1px solid;
    border-image: url("../images/silver-textured-background.jpeg") 2;
    background-color: rgba(0, 0, 0, 0.39);
    margin: 1% 0 0 1%;
    padding-top: 0.4%; /*To compensate for the space created by the a href*/
}
.actuality-img{
    width: 100%;
    margin: 0;
    height: auto;
}

/* -- Lightbox Section -- */
.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    overflow: auto;
    animation: lightboxIn 0.5s;
    transition: opacity 0.3s;
}
.lightbox.fadeOut{
    opacity: 0;
}

.lightbox__close{
    width: 5vh;
    height: 5vh;
    background: url('../images/cross-mark.svg') center center / 100% 100% transparent;
    background-repeat: no-repeat;
    top: 5%;
    right: 5%;
    position: fixed;
    z-index: 12;
    border: none;
    cursor: pointer;
}
.lightbox__container img{
    max-width: 100%;
    height: auto;
}
.lightbox__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    min-height: 100vh;
}

@keyframes lightboxIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* -- Actuality button -- */
.article-button-container{
    position: absolute;
    display: flex;
    width: 12%;
    margin-left: 15%;
    justify-content: space-around;
}
.delete-article-button{
    background-image: url("../images/poubelle.png");
    background-size: cover;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
}
.edit-article-button{
    background-image: url("../images/edit-logo.png");
    background-size: cover;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
}

/* -- Responsive -- */
@media screen and (min-width: 700px) and (max-width: 1200px) {
    .article-date{
        margin-right: 80%;
    }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
    #gallery-title{
        font-size: 1.5em;
    }
    .article-content{
        display: block;
        padding: 2%;
    }
    .article-title{
        font-size: 1.2em;
    }
    .article-description{
        font-size: 1.1em;
    }
    .article-image{
        width: 18vw;
        margin: 0 1% 1% 1%;
    }
    .article-date{
        margin-right: 75%;
    }
    .date{
        font-size: 1.3em;
    }
    .delete-article-button{
        width: 6vw;
        height: 6vw;
    }
    .edit-article-button{
        width: 6vw;
        height: 6vw;
    }
    .article-button-container{
        width: 20%;
    }
}


@media screen and (min-width:200px) and (max-width: 500px) {
    #gallery-title{
        font-size: 1.5em;
    }
    .article-content{
        display: block;
        padding: 2%;
    }
    .article-title{
        font-size: 1.2em;
    }
    .article-description{
        font-size: 1.1em;
        text-align: justify;
    }
    .article-image{
        width: 18vw;
        margin: 0 1% 1% 1%;
    }
    .article-date{
        margin-right: 75%;
    }
    .date{
        font-size: 0.7em;
    }
    .delete-article-button{
        width: 6vw;
        height: 6vw;
    }
    .edit-article-button{
        width: 6vw;
        height: 6vw;
    }
    .article-button-container{
        width: 20%;
    }
}