/*Special code for contact.html.twig*/

.image {
    text-align: center;
    padding-top: 4%;
}

.image img {
    width: 30vh;
}

.contact_infos {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5;
}

.contact_infos a {
    text-decoration: none;
    color: var(--main-color);
}

.logo-navbar {
    visibility: hidden;
}

.logos {
    text-align: center;
}

.logos img {
    margin: 2% 4%;
}

.logo-reseau {
    transition: all 1s;
    list-style: none;
}

.logo-reseau:hover {
    transform: scale(1.25);
}