h1 {
    margin: 1% 0 0 0;
}

h2 {
    margin:1% 0 0 0;
}

p {
    margin:1% 0 0 0; 
}


.link a { 
    color: var(--main-color);
    text-decoration: underline;
}

.content {
    margin-left: 2%;
}

.form {
    display: flex;
    flex-flow: column wrap;
}
#image_form, #article_form {
    display: flex;
    flex-flow: column;
    width: 50%;
}

label {
    padding-right: 2%;
    display: block;
    padding-bottom: 5px;
    padding-top: 10px;
}

#image_form_nom {
    width: 50vmin;
    margin-bottom: 2%;
}

#article_form_titre {
    width: 50vmin;
}

#image_form_urlFile_file {
    margin-bottom: 2%;
}

#image_form_categorie {
    margin-bottom: 2%;
}

#image_form_texte_alternatif, #article_form_description {
    width: 50vmin;
    height: 10vmin;
}

input { 
    width: 40vmin;
    min-width: max-content;
}

.ou { 
    margin: 1% 0;
    font-weight: bold;
}

#article_form_date {
    width: 15vmin;
    margin: 0 0 1% 0;
    text-align: center;
}

.image-container{
    display: flex;
    align-items: center;
    width: 27.5%;
    margin:1% 0;
    border: 2px solid;
    border-image: url("../images/silver-textured-background.jpeg") 2;
    background-color: rgba(0, 0, 0, 0.247);
}

.gallery-img {
    width: 100%;
    height: auto;
    margin: 0; 
}

.delete-button{
    background-image: url("../images/poubelle.png");
    background-size: cover;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}

.not_connected {
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
    margin-top: 10%
}