:root {
    --button-color: rgba(212,175,55,0.5)/*/#d3b252*/;
    --light-color: white;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#gallery-title {
    font-size: 3vh;
    padding-top: 1%;
    text-align: center;
    text-decoration: underline;
    width: 100%;
}

.image-container{
    display: flex;
    align-items: center;
    width: 27.5%;
    margin:2.5% 0;
    border: 2px solid;
    border-image: url("../images/silver-textured-background.jpeg") 2;
    background-color: rgba(0, 0, 0, 0.247);
}

.gallery-img {
    width: 100%;
    height: auto;
    margin: 0; 
}
.button-container{
    position: absolute;
    z-index: 1;
    margin-top: 18%;
    margin-left: 24%;
    width: 100%;
}
.delete-button{
    background-image: url("../images/poubelle.png");
    background-size: cover;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}
.article-button-container{
    position: absolute;
    z-index: 1;
    margin-top: 1%;
    margin-left: 1%;
    width: 100%;
}
.delete-article-button{
    background-image: url("../images/poubelle.png");
    background-size: cover;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}
.edit-article-button{
    background-image: url("../images/edit-logo.png");
    background-size: cover;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}

/* The side navigation menu button */
#categories-pop {
    width: 14rem;
    color: var(--light-color);
    margin: 0;
    font-size: 2rem;
    cursor:pointer;
    position: fixed;
    border: 0px;
    padding: 0.2rem;
}

#categories-pop::after {
    content: "";
    background:  url("../images/silver-textured-background.jpeg");
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}

/* The side navigation menu */
.sidenav {
    height: auto; /* 100% Full-height - header total height - button total height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    margin-top: calc(2rem + 0.4rem + 4px); /* Stay at the top, under the button (category-pop's font-size + padding + border) */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s; /* 2 second transition effect to slide in the sidenav */
    background-color: rgba(0, 0, 0, 0.247);
    border-right: 2px solid rgb(243, 233, 233);
    border-bottom:  2px solid rgb(243, 233, 233);
    border-image: url("../images/silver-textured-background.jpeg") 2;
    margin-left: -2px;
}

.sidenav::after {
    content: "";
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    background:  url("../images/background-blue-90deg.png");

}

  /* Position and style the close button (top right corner) */
#closebtn {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 50px;
    margin-left: 50px;
    line-height: 0;
}

#sn-linklist {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 28px; /* Place content 38px from the top, to leave some space to the closing "x"*/
}

.sn-button {
    list-style-type: none;
    width: 100%;
    margin: 2.5% 0;
    padding: 2.5% 0;
    box-sizing: border-box;
    text-align: center;
}

.sn-button:hover {
    background:  url("../images/silver-textured-background.jpeg");
}

.sn-link {
    text-decoration: none;
    color:  white;
    font-size: 1.5em;
}

@media screen and (min-width:200px) and (max-width: 900px) {
    #media-hidden{
        display: none;
    }
    #categories-pop {
        width: 1.5em;
        
    }
    .sidenav {
        margin-top: -2px; /*So the burger border-top is melted in the navbar border*/
        border-top:  2px solid rgb(243, 233, 233);
    }
}
@media screen and (min-width:500px) and (max-width: 900px) {
    .image-container {
        width: 45.5%;
        margin:2.5% 0;
    }
}
@media screen and (min-width:200px) and (max-width: 500px) {
    .image-container {
        width: 90%;
        margin:5%;
    }
}