:root {
    --button-color: rgba(212,175,55,0.5)/*/#d3b252*/;
    --light-color: white;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#gallery-title {
    font-size: 3vw;
    padding-top: 1%;
    text-align: center;
    text-decoration: underline;
    width: 100%;
}

.gallery-img {
    width: 27.5%;
    margin:2.5% 0;
}

/* The side navigation menu button */
#categories-pop {
    color: white;
    margin: 0;
    padding: 0.2em;
    font-size:2em;
    cursor:pointer;
    position: fixed;
    background-image: url("../images/gold-texture.jpeg");
    border: 3px solid;
    border-image: url("../images/silver-textured-background.jpeg") 3;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    margin-top: calc(2em + 0.4em + 6px); /* Stay at the top, under the button (font-size + padding + border) */
    left: 0;
    background: url("../images/gold-texture.jpeg"); /* button gold*/
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid;
    border-image: url("../images/silver-textured-background.jpeg") 4;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0vh; /* Place content 0px from the top */
    transition: 2s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
  }