:root {
    --button-color: rgba(255, 217, 0, 0.664);
    --light-color: white;
}

body {
    display: block;
}

/*----------- Disparition et Affichage Navbar -------*/
header {
    opacity: 0;
    transition: opacity 0.5s;
}

header.fade {
    opacity: 1;
}

.content {
    margin:0;
}

/* ---------- Section Home ---------- */

*  {
    scroll-behavior: smooth;
    color: var(--light-color);
}

/* Home Menu */
.container_home-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.login-button a{
    color: black
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    text-align: center;
}

a {
    text-decoration: none;
}

#home-logo-container {
    width: 95%;
    margin: 0 2.5%;
    height: 60%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

#home-logo {
    height: 100%;
    width: 100%;
}

.home-buttons {
    width: 100%;
    height: 15%;
    display: flex;
}

.buttons {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.container_button-bottom {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    text-decoration: none;
    color: var( --light-color);
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: transform 1s;
    -webkit-transition: 1s;
    margin: 0 2.5%;
}

.bottom {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom > .arrow {
    width: 22px;
}

.button:hover {
    background-color: var(--button-color);
    transition: all 1s;
}

.right:hover {
    transform: translateX(10%);
}

.left:hover {
    transform: translateX(-10%);
}

.bottom:hover {
    transform: translateY(15%);
}

/* End of Home Menu */

/* Home Description */

.container_home-description {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 2%;
    width: 100%;
}

.description {
    text-align: center;
    width: 40%;
    height: 40%;
}

.image-desc {
    width: 100%;
    background-color: rgb(94, 94, 94);
    height: 400px;
    margin-top: 1rem;
    border-radius: 20px;
}


#button-up {
    position: -webkit-sticky;
    position: sticky;
    /*keep it full buttom of the screen when scrolling so: viewport size less button size
    (padding up and down, height, plus margin to viewport border)*/
    top: calc(100% - 1rem - 38px - 2.5%);
    /*keep it in the middle of the screen so: viewport width less button size
    (padding rigth and left, width)*/
    margin-left: calc(50% - 1rem - 11px - 1px);
}

/* removing the margin of the button that brings you back up to center with #button-up{margin-left} */
.up {
    margin: 0;
}
.up:hover {
    transform: translateY(-30%);
}

/* End of Home Description */

/* Media Queries */

@media screen and (max-width: 800px) {

    .button {
        border: 1px solid rgba(255, 255, 255, 0.336);
    }

    .button:hover {
        transition: all 0s;
        transform: translate(0);
    }

    .right, .left {
        width: calc(25% + 2px); /*final total button width (width - border)*/
        margin: 0;
        font-size: 1.5rem;
    }

    .bottom {
        font-size: 1.5rem;
    }

    .right .arrow, .left .arrow {
        display: none;
    }
    #button-up {
        /*keep it in the middle of the screen so: viewport width less button size
        (padding rigth and left, width)*/
        margin-left: calc(100% - 2rem - 22px - 2px - 2.5%);
    }
    .home-buttons {
        width: 100%;
        justify-content: space-evenly;
    }

    .container_home-description {
        height: 100%;
        margin-top: 3rem;
    }

    .description {
        width: 90%;
        display: flex;
        flex-flow: row wrap;
    }

    .description * {
        width: 100%;
    }

    .image-desc{
        width: 95%;
        margin: 2.5%;
    }

    .description:nth-of-type(even) .image-desc{
        order: 1;
    }
}

@media screen and (max-width: 500px) {

    .right, .left {
        width: calc(35% + 2px); /*final total button width (width - border)*/
        margin: 0;
        padding: 0.5rem 0;
        font-size: 1rem;
    }


    .bottom {
        width: 80%;
        padding: 0.5rem 0;
        font-size: 1rem;
    }

    .bottom .arrow {
        width: 11px;
    }
}
/* End of Media Queries */

/* ---------- End of Section Home ---------- */
