:root {
    --main-font: Quicksand, arial;
    --main-color: #ffffff;
    --shadow-color: rgb(22, 22, 22) 5px 10px 10px;
}

body {
    display: block;
}

/* -- Principal Title of the secret passage page -- */
.passage-title {
    color: var(--main-color);
    font-size: 3vw;
    margin-top: 0px;
    margin-bottom: 7%;
    padding-top: 5%;
    text-align: center;
    text-decoration: var(--main-color) underline;
}

/* -- Sections Library, Mirror, Tailor-Made -- */
.library, .tailor-made{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(150px, auto);
    margin: 0 5% 8% 5%;
}
.mirror {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(150px, auto);
    margin: 0 5% 8% 5%;
}

/* -- Sections texts -- */
.passage-subtitle{
    margin-bottom: 2%;
    font-size: 2vw;
}
.passage-description{
    font-size: 1.6vw;
    text-align: justify;
}

/* -- Sections images -- */
.images-passage {
    width: 45%;
    margin-left: 40%;
    box-shadow: var(--shadow-color);
}
.secret {
    width: 45%;
    margin-left: 15%;
    margin-top: -10%;
    box-shadow: var(--shadow-color);
    z-index: 1;
}
.passage-miniature {
    margin-top: -15%;
    margin-left: 50%;
    z-index: 2;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--main-color);
    position: relative;
    padding: 1%;
    box-shadow: var(--shadow-color);
    transition: transform .5s;
    width: 120%;
}
.images-miniature {
    width: 100%;
}

.mirror-image{
    margin-left: 15%;
}
.secret2 {
    margin-top: -10%;
}
.miniature2 {
   margin-top: -10%;
   width: 80%;
}

.passage-miniature:hover, .passage-miniature2:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}
/* Title in miniature */
.galery-title {
    font-size: 3vw;
    position: absolute;
    z-index: 3;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: var(--main-color);
}

/* -- Responsive -- */
@media screen and (min-width: 250px) and (max-width: 900px) {

    .library, .mirror, .tailor-made{
        display: block;
        margin: 8% 8% 10% 8%;
    }
    .passage-title {
        font-size: 1.5em;
    }
    .images-passage, .images-passage1 {
        display: none;
    }
    .passage-subtitle {
        font-size: 1.3em;
    }
    .passage-description {
        font-size: 1em;
    }
    .galery-title {
        font-size: 2em;
    }
    .passage-miniature {
        width: 80%;
        margin-left: 9%;
        margin-top: 5%;
    }
    .passage-miniature:hover {
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari 3-8 */
        transform: scale(1);
    }
}

@media screen and (max-width: 500px) {
    .passage-miniature {
        width: 100%;
        margin-left: 0;
    }
}