/* ---- Secret Passage Page ---- */

/* -- Principal Title of the secret passage page -- */
.passage-title {
    color: var(--main-color);
    font-size: 2.5vw;
    margin-bottom: 2%;
    text-align: center;
    text-decoration: var(--main-color) underline;
}
.passage-intro {
    margin: 3% 6% 8% 6%;
}
.intro{
    font-size: 1.3vw;
    text-align: justify;
}

/* -- Sections Library, Mirror, Tailor-Made -- */
.library {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: repeat(150px, auto);
    margin: 0 5% 8% 5%;
}
.mirror {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(150px, auto);
    margin: 0 5% 8% 5%;
}

.tailor-made {
    margin: 0 5% 8% 5%;
}

/* -- Sections texts -- */
.passage-subtitle{
    margin-bottom: 2%;
    font-size: 1.8vw;
    margin-top: -20px;
}
.tailor-made-passage-subtitle {
    font-size: 1.8vw;
    margin-top: -20px;
    text-align: center;
    margin-bottom: 0;
    position: relative;
    top: 2rem;
}
.tailor-made-description {
    position: relative;
    left:35%;
    width: 35%;
    top: 9rem;
    margin: 0;
    font-size: 1.2vw;
    text-align: justify;
}
.passage-subtitle::first-letter, .tailor-made-passage-subtitle::first-letter {
    font-size: 1.5em;
    color: var(--button-color);
}
.passage-description{
    font-size: 1.2vw;
    text-align: justify;
}

/* -- Sections images -- */
.images-passage {
    width: 17vw;
    height: 12vw;
    margin-left: 35%;
    box-shadow: var(--shadow-color);
}
.secret {
    width: 17vw;
    height: 12vw;
    margin-left: 5%;
    margin-top: -10%;
    box-shadow: var(--shadow-color);
    z-index: 1;
}
.passage-miniature {
    margin-top: -8%;
    margin-left: 45%;
    z-index: 2;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--main-color);
    position: relative;
    padding: 1%;
    box-shadow: var(--shadow-color);
    transition: transform .5s;
    width: 50vw;
    height: 12vw;
}

.images-miniature {
    width: 100%;
    height: 100%;
}

.mirror-image{
    margin-left: 20%;
}
.secret2 {
    margin-top: -10%;
    margin-left: 50%;
}
.miniature2 {
    margin-top: -8%;
}

.passage-miniature:hover, .passage-miniature2:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.tailor-made-image-big {
    width: 100%;
    position: relative;
    top: -150px;
}
.tailor-made-image-small {
    display: none;
}

/* Title in miniature */
.galery-title {
    font-size: 3vw;
    position: absolute;
    z-index: 3;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: var(--main-color);
    text-shadow: 1px 1px 5px black;
}


/* -- Responsive -- */
@media screen and (min-width: 250px) and (max-width: 1200px) {

    .passage-title {
        margin-top: 2%;
        font-size: 1.5em;
      }
    .intro {
        font-size: 1.1em;
    }
    .library, .mirror, .tailor-made{
        display: block;
        margin: 8% 8% 10% 8%;
    }
    .images-passage, .images-passage1 {
        display: none;
    }
    .passage-subtitle {
        font-size: 1.3em;
    }
    .passage-description {
        font-size: 1.1em;
    }
    .galery-title {
        font-size: 2em;
    }
    .passage-miniature {
        width: 65vw;
        height: 15vw;
        margin-left: 9%;
        margin-top: 5%;
    }
    .passage-miniature:hover {
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari 3-8 */
        transform: scale(1);
    }
    .tailor-made-description {
        top: 5rem;
        margin: 0;
        font-size: 1.1em;
        text-align: justify;
    }
    .tailor-made-passage-subtitle {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 900px) {
    .tailor-made-passage-subtitle{
        position: unset;
        margin-bottom: 2%;
        margin-top: -20px;
    }
    .tailor-made-description {
        position: unset;
        width: 100%;
        margin: 0;
        font-size: 1.1em;
        text-align: justify;
    }
    .tailor-made-image-big {
        display: none;
    }
    .tailor-made-image-small {
        display: block;
        position: unset;
        margin: 3% auto;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .passage-title {
         margin-top: 5%;
        font-size: 1.5em;
    }
    .intro {
        font-size: 1em;
    }
    .passage-subtitle {
        font-size: 1.1em;
    }
    .passage-description {
        font-size: 1em;
    }
    .passage-miniature {
        width: 80vw;
        height: 20vw;
        margin-left: 0;
    }
}