:root {
    --main-font: Quicksand, arial;
    --main-color: #ffffff;
    --shadow-color: rgb(22, 22, 22) 5px 10px 10px;
}

body {
    display: block;
}

/* Principal Title of the secret passage page */
.secret-passage-title {
    color: var(--main-color);
    font-size: 3vw;
    margin-top: 0px;
    margin-bottom: 7%;
    padding-top: 5%;
    text-align: center;
    text-decoration: rgba(255, 217, 0, 0.664) underline;
}

/* Library section */
/* Library text */
.library {
    height: 30%;
    margin-right: 10%;
    position: relative;
    width: 100%;
}

.library-text {
    font-size: 1.5vw;
    position: absolute;
    padding-left: 45%;
    padding-right: 5%;
    text-align: justify;
}

.library-title {
    text-align: center;
}

.library-text2 {
    font-size: 1.5vw;
    position: absolute;
    padding-left: 5%;
    padding-right: 45%;
    text-align: justify;
}

/* Secret passage images */
.images-passage {
    position: absolute;
    margin-left: 20%;
    width: 20%;
    box-shadow: var(--shadow-color);
}

.secret {
    z-index: 1;
    margin-top: 13%;
    margin-left: 5%;
}

/* Secret passage images of mirror */
.images-passage2 {
    position: absolute;
    margin-left: 60%;
    width: 20%;
    box-shadow: var(--shadow-color);
}

.secret2 {
    z-index: 1;
    margin-top: 13%;
    margin-left: 75%;
}

/* Gallery of secret passage images */
.passage-miniature {
    z-index: 2;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--main-color);
    width: 50%;
    position: absolute;
    margin-top: 24%;
    margin-left: 23%;
    padding: 1%;
    box-shadow: var(--shadow-color);
    transition: transform .5s;
}

.passage-miniature2 {
    z-index: 2;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--main-color);
    width: 50%;
    position: absolute;
    margin-top: 25%;
    margin-left: 24%;
    padding: 1%;
    box-shadow: var(--shadow-color);
    transition: transform .5s;
}

.images-miniature {
    width: 100%;
}

.passage-miniature:hover, .passage-miniature2:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}

.galery-title {
    font-size: 3vw;
    position: absolute;
    z-index: 3;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: var(--main-color);
}

/* Mirror and tailor-made section */
.mirror, .tailor-made {
    position: relative;
    padding-top: 50%;
}

.tailor-made {
    margin-bottom: 50%;
}

@media screen and (min-width: 250px) and (max-width: 1200px) {

    .secret-passage-title {
        font-size: 2.5em;
    }
    .images-passage, .images-passage2 {
        display: none;
    }
    .library-text, .library-text2 {
        font-size: 1.5em;
        padding-right: 9vw;
        padding-left: 9vw;
    }
    .passage-miniature, .passage-miniature2 {
        width: 80%;
        margin-left: 9%;
        margin-top: 25%;
    }
    .mirror {
        margin-top: 15%;
        margin-bottom: 10%;
    }
    .tailor-made {
        padding-bottom: 20%;
    }
}
