{% extends 'base.html.twig' %}

{% block stylesheets %}
        {{ encore_entry_link_tags('design') }}
{% endblock %}

{% block title %}Design Métallique{% endblock %}

{% block body %}
<main>
    <div class="intro">
      <h1>Dessin Industriel</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium fugiat voluptate odit illum.
        Provident natus voluptatibus odio rem incidunt dolore velit ea nostrum a neque. Dolore necessitatibus fuga cum praesentium.</p>
    </div>
    <div class="left-column">

      <!-- first accordion-->
      <h2>Some category</h2>
      <div class="accordion">
          <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Cat_plotting_something_evil%21.jpg">
          </div>
          <div class="card second-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg">
          </div>
          <div class="card third-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG">
          </div>
          <div class="card fourth-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg">
          </div>
      </div>
      
      <!-- second accordion-->
      <h2>Some category</h2>
      <div class="accordion">
        <div class="card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Cat_plotting_something_evil%21.jpg">
        </div>
        <div class="card second-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg">
        </div>
        <div class="card third-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG">
        </div>
        <div class="card fourth-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg">
        </div>
      </div>
      
      <!-- third accordion-->
      <h2>Some category</h2>
      <div class="accordion">
        <div class="card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Cat_plotting_something_evil%21.jpg">
        </div>
        <div class="card second-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg">
        </div>
        <div class="card third-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg">
        </div>
        <div class="card fourth-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg">
        </div>
      </div>

      <!-- fourth accordion-->
      <h2>Some category</h2>
      <div class="accordion">
        <div class="card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Cat_plotting_something_evil%21.jpg">
        </div>
        <div class="card second-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG">
        </div>
        <div class="card third-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg">
        </div>
        <div class="card fourth-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg">
        </div>
      </div>
          
      <!-- fifth accordion-->
      <h2>Some category</h2>
      <div class="accordion">
        <div class="card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg">
        </div>
        <div class="card second-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG">
        </div>
        <div class="card third-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg">
        </div>
        <div class="card fourth-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg">
        </div>
      </div>
    </div>

    <div class="right-column">
      <!-- sixth accordion-->
      <h2>Some category</h2>
      <div class="accordion">
        <div class="card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg">
        </div>
        <div class="card second-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG">
        </div>
        <div class="card third-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg">
        </div>
        <div class="card fourth-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg">
        </div>
      </div>
    
      <!-- seventh accordion-->
      <h2>Some category</h2>
      <div class="accordion">
        <div class="card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Cat_plotting_something_evil%21.jpg">
        </div>
        <div class="card second-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG">
        </div>
        <div class="card third-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg">
        </div>
        <div class="card fourth-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg">
        </div>
      </div>

      <!-- eigth accordion-->
      <h2>Some category</h2>
      <div class="accordion">
        <div class="card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Cat_plotting_something_evil%21.jpg">
        </div>
        <div class="card second-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg">
        </div>
        <div class="card third-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg">
        </div>
        <div class="card fourth-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg">
        </div>
      </div>

      <!-- ninth accordion-->
      <h2>Some category</h2>
      <div class="accordion">
        <div class="card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Cat_plotting_something_evil%21.jpg">
        </div>
        <div class="card second-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg">
        </div>
        <div class="card third-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG">
        </div>
        <div class="card fourth-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg">
        </div>
      </div>

      <!-- tenth accordion-->
      <h2>Some category</h2>
      <div class="accordion">
        <div class="card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Cat_plotting_something_evil%21.jpg">
        </div>
        <div class="card second-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg">
        </div>
        <div class="card third-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG">
        </div>
        <div class="card fourth-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg">
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('design') }}
{% endblock %}